{% extends '_base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load profile_tags %}

{% block content %}
    {% if user == shown_user %}
        <h2 class="text-center">Your profile</h2>
    {% else %}
        <h2 class="text-center"><span class="text-success">{{ shown_user }}</span>'s profile</h2>
    {% endif %}
    <hr>
    <section style="background-color: #faf9f6;">
        <div class="container py-5">
            <div class="row">
                <div class="col-lg-4">
                    <div class="card mb-4">
                        <div class="card-body text-center">
                            <img src="
                                           {% if shown_user.profile.avatar %}
                                               {{ shown_user.profile.avatar.url }}
                                           {% else %}
                                               {% static 'img/default_avatar.svg' %}
                                           {% endif %}
                                    "
                                 alt="{{ shown_user.username }}"
                                 class="rounded img-fluid" style="width: 150px;">
                            <h5 class="my-3">{{ shown_user.username }}</h5>
                            <p class="text-muted mb-4">Last Login: {{ shown_user.last_login|date:"d\.m\.Y" }}</p>
                            <p class="text-muted mb-4">Joined: {{ shown_user.date_joined|date:"d\.m\.Y" }}</p>
                            <div class="d-flex justify-content-center mb-2">
                                {% if user == shown_user %}
                                    <a href="{% url 'edit_profile' shown_user.slug %}">
                                        <button type="button" class="btn btn-info ml-2 btn-lg"
                                                style="padding-left: 50px; padding-right: 50px;">Edit profile
                                        </button>
                                    </a>
                                {% else %}
                                    <a href="#">
                                        <button type="button" class="btn btn-warning text-light ml-2"
                                                style="padding-left: 50px; padding-right: 50px;">Follow {{ shown_user }}
                                        </button>
                                    </a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="card mb-4">
                        <div class="card-body">
                            {% fields shown_user %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {#    <hr>#}
    {#    <h3 class="text-center"><span class="text-success">{{ user.username }}</span>'s published books:</h3>#}

{% endblock content %}