<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">

        <button type="button" id="sidebarCollapse" class="btn btn-primary">
            <i class="fa fa-bars"></i>
            <span class="sr-only">Toggle Menu</span>
        </button>
        <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <i class="fa fa-bars"></i>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="nav navbar-nav ml-auto">
{#                 <li class="nav-item">#}
{#                    <div class="p-1 bg-light rounded rounded-pill shadow-sm mb-4">#}
{#                        <div class="input-group">#}
{#                            <input type="search" placeholder=""#}
{#                                   aria-describedby="button-addon1"#}
{#                                   class="form-control border-0 bg-light">#}
{#                            <div class="input-group-append">#}
{#                                <button id="button-addon1" type="submit" class="btn btn-link text-primary"><i#}
{#                                        class="fa fa-search"></i></button>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                </li>#}
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'home' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'about' %}">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'books' %}">Books</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

